* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proton {
    width: 80px;
    height: 80px;
    background-color: deepskyblue;
    border-radius: 50%;
    position: relative;
}

.electron {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    position: absolute;
    animation: rotation 5s infinite linear;
    border-radius: 50%;
    padding: 100px;
    border: 1px solid silver;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.electron:nth-child(1) {
    animation-delay: 0s;
    color: lightslategrey;
}

.electron:nth-child(2) {
    animation-delay: 0.25s;
    color: lightslategray;
}

.electron:nth-child(3) {
    animation-delay: 0.5s;
    color: lightslategray;
}

.electron:nth-child(4) {
    animation-delay: 0.75s;
    color: red;
}

.electron:nth-child(5) {
    animation-delay: 1s;
    color: blue;
}

.electron:nth-child(6) {
    animation-delay: 1.25s;
    color: rgb(221, 221, 17);
}

.electron:nth-child(7) {
    animation-delay: 1.5s;
    color: orange;
}

.electron:nth-child(8) {
    animation-delay: 1.75s;
    color: blue;
}

.electron:nth-child(9) {
    animation-delay: 2s;
    color: lightslategray;
}

.electron:nth-child(10) {
    animation-delay: 2.25s;
    color: lightslategray;
}

.electron:nth-child(11) {
    animation-delay: 2.5s;
    color: lightslategray;
}

.electron:nth-child(12) {
    animation-delay: 2.75s;
    color: blue;
}

.electron:nth-child(13) {
    animation-delay: 3s;
    color: blue;
}

.electron:nth-child(14) {
    animation-delay: 3.25s;
    color: green;
}

.electron:nth-child(15) {
    animation-delay: 3.5s;
    color: lightslategray;
}

.electron:nth-child(16) {
    animation-delay: 3.75s;
    color: lightslategray;
}

.electron:nth-child(17) {
    animation-delay: 4s;
    color: rgb(121, 78, 190);
}

.electron:nth-child(18) {
    animation-delay: 4.25s;
    color: rgb(67, 66, 66);
}

.electron:nth-child(19) {
    animation-delay: 4.5s;
    color: lightslategray;
}

.electron:nth-child(20) {
    animation-delay: 4.75s;
    color: gold;
}

.electron::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .5); 
    position: absolute;
    left: -20px;
    top: -20px;
    border-radius: 50%;
    margin: 45px;
    backdrop-filter: blur(200px);
}

@keyframes rotation {
    0% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}